name: Metrics
on:
  # Schedule daily updates (runs at midnight)
  schedule: [{cron: "0 0 * * *"}]
  # (optional) Run workflow manually from the Actions tab
  workflow_dispatch:
  # (optional) Run workflow when pushing to the main branch
  push: {branches: ["master", "main"]}

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          # Your GitHub token
          token: ${{ secrets.METRICS_TOKEN }}

          # Options
          user: LasiduDilshan
          template: classic
          base: header, activity, community, repositories, metadata
          config_timezone: Asia/Colombo
          
          # This enables the "Top Languages" chart
          plugin_languages: yes
          plugin_languages_ignored: >-
            html, css
          plugin_languages_limit: 8
